{% extends 'shared/base.html' %} 
{% block content %}

{% if job.id is not None %}
    <form action="{% url 'coastalapp:job' job.id%}" method="POST">
{% else %}
    <form action="{% url 'coastalapp:job_list' %}" method="POST">
{% endif %}
    {% csrf_token %}
    {% if job.id is none %}
    <fieldset>
        <label for="title">Title: </lable>
        <input id="title" type="text" name="title" value="{{ job.title }}">
    </fieldset>
    <fieldset>
        <label for="start_date">Start Date: </label>
        <input id="start_date" type="date" name="start_date" value={{ job.start_date }}>
    </fieldset>
    <fieldset>
        <label for="end_date">End Date: </label>
        <input id="end_date" type="date" name="end_date" value={{ job.end_date }}>
    </fieldset>
    {%endif%}
    {% if job.id is not None %}
    <input type="hidden" name="actual_method" value="PUT" />
			<fieldset>
            <label for="employee_id">Assign: </label>
            <select id="employee_id" type="text" name="employee_id">
                    {% for employee in all_employees %}
                        <option {% if employee.id == job.employee_id %}selected{% endif %} value="{{ employee.id }}">{{ employee.first_name }} {{ employee.last_name }}</option>
                    {% endfor %}
            </select>
        	</fieldset>
			{% endif %}

{% if job.id is not None %}
    <input type="hidden" name="actual_method" value="PUT">
    <input type="submit" value="Update" />
{% else %}
    <input type="submit" values="Add It" />
{% endif %}
</form>


{% endblock content %}