{% extends 'shared/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'styles/lists.css'%}" />
{% endblock css %} {% block content %}

<h1>Departments</h1>
{% if user.is_authenticated %}
<section style="display: flex">
	<form action="{% url 'coastalapp:department_form' %}" method="GET">
		{% csrf_token %}
		<button class="button">Add Department</button>
	</form>
</section>
{% endif %}

<ol class="list">
	{% for department in departments %}
	<li class="card">
		<a
			class="details-link department-name"
			href="{% url 'coastalapp:department' department.id %}"
		>
			<h3 class="deptartment-name">{{ department.department_name }}</h3>
		</a>
		{% comment %}
		<h5 class="department-size">
			Employees: {% for emp in department.employees.all %}
			<h3>{{emp.first_name}}</h3>
			{% endfor %}
		</h5>
		{% endcomment %}
	</li>
	{% endfor %}
</ol>

{% endblock content %}
